// 千万别忘了分号，否则会报错
@import './reset';
@import './transition.scss';
@import './mixin.scss';


.zIndex2 {
  z-index: 2;
}

.zIndex3 {
  z-index: 3;
}

.zIndex4 {
  z-index: 4;
}

.zIndex5 {
  z-index: 5;
}